.hide{
  display: none;
}
body{
  width: 960px;
  margin: auto;

  .page-short-url-form{
    .form{
      padding-top: 300px;

      .input-short-url{
        width:800px;
        height:30px;
        font-size:18px;
      }

      .submit-short-url{
        width:100px;
        height:38px;
        font-size:18px;
      }
    }

    .result{
      margin:100px 0 0 120px;
      padding: 0;

      .error{
        color: red;
        font-size:24px;
      }

      .short-url{

        .name{
          display:inline;
          font-size:24px;
          margin-right: 20px;
        }

        .input-short-url{
          margin: 0;
          padding: 0;
          width:400px;
          height:40px;
          font-size:24px;
        }
      }

      .long-url{
        padding-top: 20px;

        .name{
          display:inline;
          font-size:24px;
          margin-right: 20px;
        }

        .input-long-url{
          margin: 0;
          padding: 0;
          width:400px;
          height:40px;
          font-size:24px;
        }
      }
    }
  }

}

