.page-short-url-form
  .form
    %input{:class => "input-short-url", :type => "text", :placeholder => "  输入要缩短的地址"}
    %button{:class => "submit-short-url"} 缩短地址

    .result.hide
      .short-url.hide
        .name 短地址
        %input{:class => "input-short-url", :type => "text"}
      .long-url.hide
        .name 长地址
        %input{:class => "input-long-url", :type => "text"}
      .qrcode.hide
        .name 二维码
        %a.link-download{:href => "", :download => true}
          %img{:class => "img-qrcode", :src => ""}
      .error.hide
